<main class="banner-triple banner-admin">
    <div class="banner-top">
        <div class="banner-left"></div>

        <div class="banner-right">
            <h2>Panel Administratorski</h2>
        </div>
    </div>

    <div class="banner-bottom">
        <h3>Panel Administratorski</h3>
    </div>
</main>