<main class="banner-triple banner-offers">
    <div class="banner-top">
        <div class="banner-left"></div>

        <div class="banner-right">
            <h2>Zobacz dokładnie co możemy dla Ciebie zrobić.</h2>
        </div>
    </div>

    <div class="banner-bottom">
        <h4>W tej zakładce dokładnie poznasz ofertę diagnostyk, oraz napraw dostepną w naszym warsztacie. Możemy
            dużo więcej, więc zapytaj mechanika o możliwość dodatkowej usługi.</h4>
    </div>
</main>