<main class="banner-triple banner-opinions">
    <div class="banner-top">
        <div class="banner-left"></div>

        <div class="banner-right">
            <h2>Ta zakładka pozwoli Ci nas lepiej poznać.</h2>
        </div>
    </div>

    <div class="banner-bottom">
        <div class="banner-bottom-main">
            <h3>Lubimy to robić, dlatego jesteśmy w tym dobrzy.</h3>
            <h5>Powierz nam swoje auto i dołącz do grona zadowolonych klientów!</h5>
            <img id="icon" src="images/Thumb-Up.png" alt="Kciuk w górę">
        </div>
    </div>
    
</main>
