<main class="banner-triple banner-priceOffers">
    <div class="banner-top">
        <div class="banner-left"></div>

        <div class="banner-right">
            <h2>Tutaj poznasz dokładny cennik naszych usług.</h2>
        </div>
    </div>

    <div class="banner-bottom">
        <h4>Poniżej możesz zapoznać się z dokładnym cennikiem naszych usług, oraz orientacyjnym czasem
            potrzebnym nam do wykonania usługi.</h4>
    </div>
</main>