<banner class="banner-simple banner-home">

    <div class="banner-left">
        <div class="banner-left-box">
            <h2>Tutaj nie ma miejsca na niedokręcone śruby.</h2>
            <h4>Sprawdż naszą ofertę diagnostyki, oraz napraw.</h4>

            <div class="banner-left-btns">
                <button class="btn-primary"><a href="offer">Oferta</a></button>
                <button class="btn-primary btn-primary-filled"><a href="contact">Kontakt</a></button>
            </div>

        </div>
    </div>

    <div class="banner-right">
        <img src="images/Car.svg" alt="">
    </div>


</banner>