<main class="banner-triple banner-contact">
    <div class="banner-top">
        <div class="banner-left"></div>

        <div class="banner-right">
            <h2>Jesteśmy w kontakcie!</h2>
        </div>
    </div>

    <div class="banner-bottom">
        <h3>Pozostało tylko umówić wizytę.</h3>
    </div>
</main>