<html lang="en">

<body>

    <main>
        <header><h3 style="color: black;">Jeden z użytkowników strony internetowej ZMJB(Zakład Mechaniczny Jakub Barwicki) próbuje się z tobą skontaktować przez formularz kontaktowy na stronie.</h3></header>
        <header><h3 style="color: black;">Zamieścił następujące dane:</h3></header>
        <div>
            <p style="color: black;">Imię i Nazwisko:</p>
            <h4 style="color: black;">|name|</h4>
        </div>
        <div>
            <p style="color: black;">Nr telefonu:</p>
            <h4 style="color: black;">|phoneNr|</h4>
        </div>
        <div>
            <p style="color: black;">Adres e-mail:</p>
            <h4 style="color: black;">|email|</h4>
        </div>
        <div>
            <p style="color: black;">Wiadomość:</p>
            <h4 style="color: black;">|message|</h4>
        </div>

    </main>

</body>

</html>