<div class="offerDisplay">
    <div class="offerDisplay-main">

        <img id="image" class="offerDisplay-main-image" src="" alt="Obrazek">
        <h1 id="name" class="offerDisplay-main-header"></h1>
        
        <div class="offerDisplay-main-shortData">



            <div class="displayField">
                <h4 class="displayField-header">Przewidywany czas realizacji:</h4>
                <p id="time" class="displayField-content"></p>
            </div>

            <div class="displayField">
                <h4 class="displayField-header">Cena:</h4>
                <p id="price" class="displayField-content"></p>
            </div>

        </div>

        <div class="offerDisplay-main-description">

            <div class="displayField">
                <h3 class="displayField-header">Opis</h3>
                <p id="description" class="displayField-content"></p>
            </div>

        </div>

        
        <button class="btn-close"></button>
    </div>
</div>