<div class="offerDeletion">

    <div class="offerDeletion-outter">


        <form class="offerDeletion-main" method="post" action="/deleteOffer">

            <input id="id" name="id" type="hidden" value="">
            <h1 id="name" class="offerDeletion-main-header">Lorem Ipsum</h1>

            <div class="offerDeletion-main-shortData">

                <div class="deletionField">
                    <img id="image" src="" alt="Obrazek">
                </div>

                <div class="deletionField">
                    <h4 class="deletionField-header">Przewidywany czas realizacji(w godzinach)</h4>
                    <p id="time" class="deletionField-content" type="number">Lorem Ipsum Ipsum Ipsum</p>
                </div>

                <div class="deletionField">
                    <h4 class="deletionField-header">Cena(w złotych)</h4>
                    <p id="price" class="deletionField-content" type="number">120</p>
                </div>

                <button type="submit" id="btn-delete">
                    <h3>Usuń</h3>
                </button>
            </div>

            <div class="offerDeletion-main-description">

                <div class="deletionField">
                    <h3 class="deletionField-header">Opis</h3>
                    <p id="description" class="deletionField-content">Lorem Ipsum Ipsum Ipsum Lorem Ipsum Ipsum Ipsum
                        Lorem Ipsum Ipsum Ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur dolor
                        quasi incidunt quaerat quo debitis rerum consectetur id, praesentium magni aperiam cupiditate
                        suscipit explicabo animi vero earum quam doloremque sint?</p>
                </div>

            </div>


        </form>

        <button type="button" class="btn-close"></button>
    </div>

</div>