<div class="opinionDisplay">
    <div class="opinionDisplay-main">

        <h1 id="name" class="opinionDisplay-main-header"></h1>
        <div id="rating" class="opinionDisplay-main-rating">

            <h3>☆</h3>
            <h3>☆</h3>
            <h3>☆</h3>
            <h3>☆</h3>
            <h3>☆</h3>
                       
        </div>

        <div class="opinionDisplay-main-content">

            <div class="displayField">
                <h3 class="displayField-header">Treść</h3>
                <p id="content" class="displayField-content"></p>
            </div>

        </div>



        <button class="btn-close"></button>
        
    </div>

</div>