<div class="opinionDeletion">
    <form class="opinionDeletion-main" method="post" action="/deleteOpinion">

        <input id="id" name="id" type="hidden" value="">

        <h1 id="name" class="opinionDeletion-main-header"></h1>
        <div id="rating" class="opinionDeletion-main-rating">

            <h3>☆</h3>
            <h3>☆</h3>
            <h3>☆</h3>
            <h3>☆</h3>
            <h3>☆</h3>
                       
        </div>

        <div class="opinionDeletion-main-content">

            <div class="deletionField">
                <h3 class="deletionField-header">Treść</h3>
                <p id="content" class="deletionField-content"></p>
            </div>

        </div>
        

        <button type="submit" id="btn-delete">
            <h3>Usuń</h3>
        </button>

        

        <button type="button" class="btn-close"></button>
    </form>

</div>