<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="images/zmjb_logo.png">
    <link rel="stylesheet" href="styles/css/main.css">
    <title>ZMJB - Zmiana Hasła</title>
</head>
<body>

    <div id="wrapper-passwordChange" class="wrapper">

        <section class="section-passwordChange">

            <form class="form-standard" method="POST" action="/adminPanel-passwordChange">
                <h4 class="header-main">Zmiana Hasła</h4>
        
                <div class="form-standard-main">
        
                    <div class="inputBoxes-container">
        
                        <div class="inputBoxes-container-box">
                            <h6>Podaj stare hasło</h6>
                            <input name="oldPassword" type="password" required>
                            <h6 id="errorMessage"><%= msg %> </h6>
                        </div>

                        <div class="inputBoxes-container-box">
                            <h6>Podaj nowe hasło</h6>
                            <input name="newPassword" type="password" required>
                        </div>
                    </div>
                </div>
                    
                <button id="confirmButton"><h3>Potwierdź</h3></button>
            </form>

        </section>

    </div>

    
</body>
</html>