#wrapper-passwordChange {
    height: 100vh;
    width: 100%;
    max-height: none;
    max-width: none;

    display: flex;


    .section-passwordChange {
        height: 100%;
        max-width: 42rem;
        width: 80%;
        margin: auto;

        display: flex;
        .form-standard {
            min-height: 0;
            margin: auto;

            display: flex;
            flex-direction: column;

            .header-main {
                margin: 2rem auto 2rem calc(5% + 1rem);
            }
            &-main {

                display: flex;
                flex-direction: column;
                .inputBoxes-container {

                    &-box {
                        #errorMessage {
                            color: red;
                            margin: 0.5rem auto auto 0;
                        }
                    }
                }
            }
            #confirmButton {
                margin: 2rem 10% 2rem auto;
            }

            @media only screen and (max-width: 600px) {

                .inputBoxes-container {

                    &-box {
                        input {
                            width: calc(100% - 2rem - 6px);
                            margin: auto;
                        }
                    }
                }

                #confirmButton {
                    margin: 1rem auto;
                }
            }
        }
    }

}

